{% extends 'blog/base.html' %}
{% block title %}
        回應
{% endblock %}
{% block content %}
        <a href="{% url 'app1:comment_add' chapter.id %}">我要補充</a>

        <p>{{ chapter.slug }}<hr>
        <p>{{ chapter.body |safe }}
            {% if chapter.attachment %}
        <img src="{{ chapter.attachment.url }} " style="width: 70% ;height: 70%"></p>
        {% endif %}

        {% for comment in comments %}
            <hr><a href="{{ comment.get_url }}">
            {{ comment.comment|safe }}-{{ comment }}</a>
            {% if comment.attachment %}
                <img src="{{ comment.attachment.url }}" style="width: 70%;height: 70%" >
            {% endif %}
        {% endfor %}


{% endblock %}
